# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-p': 'pelican-shortcuts:toggle'

'.source.gfm':
  'Pelican Summary':
    'prefix': 'pel-sum'
    'body': '<!-- PELICAN_BEGIN_SUMMARY -->\n\n<!-- PELICAN END SUMMARY -->'
